.positioned-element {
    position: absolute;
    transform: translate(-50%, -100%);
}
.canteenStatus{
    z-index: -1;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
}
.canteenStatus.showDetail{
    left:100%;
    transform: translate(10%,-60%);
    opacity: 1;
}
.canteenStatus i{
    font-size: 40px;   
}
.status{
    display: flex;
}
.statusDetail{
    margin-left: 10px;
    padding-right: 5px;
}
.mesBox {
    width: 200px;
    height: 88px;
}
.nameCanteen {
    position: absolute;
    transform: translate(-50%, -75%);
    top: 50%;
    left: 50%;
    font-size: 20px;
    cursor: pointer;
}
.marked{
    position: absolute;
    transform: translate(10%, -50%);
    top: 0%;
    right: 0%;
    font-size: 65px;
    color : red;
}
.happyFace{
    color : rgb(13, 145, 13);
}
.sadFace{
    color: red;
}
@media (max-width: 900px) {
    .mesBox {
        width: 115px;
        height: 55px;
    }
    .nameCanteen {
        font-size: 12px;
    }
    .marked{
        font-size: 40px;
    }
    .canteenStatus{
        font-size: 10px;
    }
    .canteenStatus i{
        font-size: 30px;
    }
}